*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--fondo);
}

:root,
    :root.light {
    --fondo: rgb(192, 192, 192);
    --fondo2: #454a97;
    --color: white;
    --imagen: url("./pattern.svg");
    --color2: black;
    --imagen2: url("./topography.svg");
    --imagen3: url(fondoartl.svg);
    }

    :root.dark {
        --fondo: #000000;
        --fondo2: #f1b378;
        --color: black;
        --imagen: url("./cuadrados.svg");
        --color2: white;
        --imagen2: url("./topographyd.svg");
        --imagen3: url(fondoart.svg);
    }
#otroDIV{
    display: none;
    color: white;
}
nav{
    background-color: var(--fondo);
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
    height: 50px;
    color: grey;
}

select{
    margin: 1%;
    background-color: transparent;
    color: var(--color2);
}

option{
    background-color: var(--fondo);
    color: var(--color2);
}
button{
    padding: 1%;
    background-color: var(--fondo2);
    color: var(--fondo);
}
h6{
    text-align: right;
    padding: 1%;
}
p{

    padding: 10px;
}

div{
    position: sticky;
    top: 0px;
    margin: 0% 5% 5% 5%;
    display: flex;
    flex-direction: column;
}

header{
    position: sticky;
    top: 0%;
    margin:0% 5% 0 5%;
    padding: 2%;
    height: auto;
    background-color: var(--fondo2);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
    z-index: 1;
    color: var(--color);
}

div section{
    position: sticky;
    top: 0%;
    padding: 2%;
    margin: 0% 5% 0 5%;
    background-color: var(--fondo2);  
    background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
    z-index: 2;
    color: var(--color);
}

div section h3:first-of-type{
    text-align: right;
}
.prueba{
    position: sticky;
    top: 0%;
    padding: 5%;
    margin: 0% 5% 0 5%;
    background-image: var(--imagen);
    background-position:left;
    background-color: var(--fondo);
    z-index: 3;
    color: var(--color);
    font-size: 20px;
    font-weight:bolder;
    text-shadow: 1px 1px var(--color2);
}

.prueba2{
    position: sticky;
    top: 0%;
    padding: 5%;
    margin: 0% 5% 0px 5%;
    background-image: var(--imagen2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--color2);
    z-index: 4;
}

div article{
    position: sticky;
    top: 0%;
    color: var(--color2);
    background-color: var(--fondo);
    margin: 0% 5% 0px 5%;
    padding: 5%;
    background-image: var(--imagen3);
    background-size:cover;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 9;
}
